# Environment variables
.env

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/

# Databases
*.db
*.sqlite3

# Logs
*.log
